table{
	background-color: #3AAFA9;
	border-collapse: collapse;
	color:black;
	text-align: center;
	font-size: 20px;
	table-layout: center;
	margin-right: center;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	background: url(free2.jpg);
	background-size: cover;
	
	width:800px; 
	height:900px;
	text-align:center; 
	border:2px solid black;
}

input{
	text-align: center;
}
.error{
	color:red;
}